{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">About Melys</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <section class="container" id="about">
            <div class="about-me">
                <img src="{% static 'images/aboutme.webp' %}" class="about-img" alt="Our owner, Elisha beekeeping">
                <h2>A little from our owner, Elisha</h2>
                <h4>"I wanted to learn to keep bees from a young age after hearing stories about my great grandfather who was a beekeeper. 
                    During the pandemic I decided to complete a course in beekeeping and give it a go! 
                    Beekeeping is such a peaceful hobby I absolutely love working with bees. 
                    It’s also allowed me to expand on my creative side- from working with beeswax 
                    to painting my hives and designing my jar labels."</h4>
                <hr class="w-50 mb-1">
            </div>
            <br>
            <div class="socials">
                <h2>Keep up to date with Melys on social media!</h2>
                <ul class="social-networks">
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i> </a></li>
                    <li><a href="https://www.x.com" target="_blank"><i class="fab fa-twitter-square"></i> </a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube-square"></i> </a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

